img{
    width: 250px;
    height: 50px;
}
.Header-btn{
    border-radius: 500px;
    background-color: red;
    float: right;
}
/* .banner-area{
    background-image: url('../logo/bannerbackground.png');
} */